{% extends 'base.html.twig' %}

{% block title %}DeFi Works- Deposit{% endblock %}

{% block body %}

<div class="example-wrapper">

    {{ react_component('DepositInputs') }}

</div>


{% endblock %}
