{% extends 'base.html.twig' %}

{% block title %}DeFi Works- Deposit{% endblock %}

{% block body %}

    <section class="deposit-details">
        <h1>Deposit Details</h1>
        <p>Make your deposit</p>
        <div class="bank-details">
            <h4>Account Name: </h4>
            <p>DeFi Works</p>
            <h4>Sort: </h4>
            <p>04-03-33</p>
            <h4>Account No: </h4>
            <p>68972060</p>
        </div>
        <div id="usdConversion">
            <p>Your amount to deposit is <span>£{{gbpDeposit}}</span></p>
            <p>* Please press confirm button when deposit has been sent.</p>
        </div>
        <div>
            {{ form_start(AddPendingDepositForm) }}
            <button class="btn" id="submit" type="submit">Confirm Deposit</button>
            {{ form_end(AddPendingDepositForm) }}
            <a class="btn" href="{{ path('app_deposit') }}">Back</a>
        </div>
    </section>

    <script>
       //disable button after click
        document.getElementById("submit").onclick = function() {
           //set timeout to allow form to submit
            setTimeout(function(){
                document.getElementById("submit").disabled = true;
            }, 100);
        };
    </script>
{% endblock %}