{% extends 'base.html.twig' %}

{% block title %}DeFi Works- Deposit{% endblock %}

{% block body %}

<section class="deposit">
    <div {{ react_component('DepositInputs') }}></div>

    <a class="back-btn" href="{{ path('app_dashboard') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</section>

{% endblock %}
