{% extends 'base.html.twig' %}

{% block title %}Strategy Terms - Defi Works{% endblock %}

{% block body %}
    <section class="tcs">
        <h1>Defi Works Strategy Terms</h1>

        <div>
            <h2>1. Introduction</h2>
            <p>These Defi Works Strategy Interest Product General Terms and Conditions (“General Terms”) govern the contractual relations between you (“Client” or “you”) and any holding company, subsidiary or entity belonging to the Nexo group of companies (Defi Works or “we”), while you and Defi Works are hereinafter separately referred to as “Party” and jointly - as “Parties”, in regard to your use of the Defi Works Strategy Interest Product, and constitute a legally binding agreement (“Agreement”) between the Parties.</p>
        </div>

        <div>
            <h2>2. Definitions</h2>
            <p>For the purposes of these General Terms, the following terms shall have the meanings ascribed to them below:</p>
            <ul>
                <li>“Account” means the Client’s account with Nexo, which is used for the provision of the Defi Works Strategy Product.</li>
                <li>“Client” means any individual or legal entity that has accepted these General Terms and has an Account with Defi Works.</li>
                <li>“Client’s Funds” means the funds deposited by the Client in the Account.</li>
                <li>“Defi Works Strategy Product” means the product provided by Nexo, which allows the Client to earn interest on the Client’s Funds.</li>
                <li>Defi Works Platform” means the online platform provided by Nexo, which allows the Client to access the Defi Works Strategy Interest Product.</li>
            </ul>
        </div>

        <div>
            <h2>3. Client</h2>
            <p>1. You can enter into this Agreement and use the Defi Works Strategy Product only if all of the conditions below are met:</p>
            <ul>
                <li>you are at least 18 years old;</li>
                <li>you are not a resident of a country where the provision of the Defi Works Strategy Interest Product is prohibited;</li>
                <li>you are not a politically exposed person;</li>
                <li>you are not a resident of a country that is subject to sanctions by the United Nations, the European Union, or any other competent authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the United States Department of the Treasury’s Office of Foreign Assets Control;</li>
                <li>you are not a resident of a country that is subject to sanctions by the United Kingdom’s Office of Financial Sanctions Implementation;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Swiss State Secretariat for Economic Affairs;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Singapore Ministry of Foreign Affairs;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Hong Kong Monetary Authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Monetary Authority of Singapore;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Hong Kong Monetary Authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Monetary Authority of Singapore;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Hong Kong Monetary Authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Monetary Authority of Singapore;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Hong Kong Monetary Authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Monetary Authority of Singapore;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Hong Kong Monetary Authority;</li>
                <li>you are not a resident of a country that is subject to sanctions by the Monetary Authority of Singapore;</li>
            </ul>
        </div>

        <div>
            <h2>4. Defi Works Strategy Product</h2>
            <p>1. The Defi Works Strategy Product allows you to earn interest on the Client’s Funds deposited in the Account.</p>
            <p>2. The interest rate applicable to the Client’s Funds is determined by Defi Works and is subject to change at any time without prior notice.</p>
            <p>3. The interest on the Client’s Funds is calculated on a daily basis and is paid out on a daily basis.</p>
            <p>4. The interest on the Client’s Funds is paid out in the same currency as the Client’s Funds.</p>
            <p>5. The interest on the Client’s Funds is paid out to the users Defi Works account.</p>
        </div>

        <div>
            <h2>5 Risk Disclosure</h2>
            <p>1. The Client acknowledges that the Defi Works Strategy Product involves risks, including but not limited to the risk of loss of the Client’s Funds.</p>
            <p>2. The Client acknowledges that the Defi Works Strategy Product is not guaranteed and that the Client’s Funds are not insured.</p>
            <p>3. The Client acknowledges that the Defi Works Strategy Product is subject to market risks and that the value of the Client’s Funds may fluctuate.</p>
            <p>4. The Client acknowledges that the Defi Works Strategy Product is subject to regulatory risks and that the provision of the Defi Works Strategy Product may be suspended or terminated at any time without prior notice.</p>
        </div>

        <div>
            <h2>6. Fees</h2>
            <p>1. Defi Works charges withdrawal and deposit fees for the provision of the Defi Works Strategy Product.</p>
            <p>2. Defi Works reserves the right to introduce fees for the provision of the Defi Works Strategy Product at any time without prior notice.</p>
        </div>

        <div>
            <h2>7. Interest</h2>
            <p>1. The Interest shall commence accruing on the Digital Assets at a certain rate, as of the expiry of 24 (twenty-four) hours of their topping up into your Defi Works Account (“Start Time”).</p>
            <p>2. The Interest shall be subject to revision from time to time, at our sole and absolute discretion.</p>
            <p>3. Defi Works reserves its right to grant preferential Interest or other terms to certain Clients, specific terms and additional conditions, as part of marketing campaigns or otherwise, as indicated on the Nexo Platform and subject to revision from time to time, at its sole and absolute discretion. In case of automatic renewal, as described in Art. IV.5, preferential Interest and/or other terms will not apply, while the new Fixed Term will be renewed at the shortest possible term or if not applicable - at the next term in ascending order.</p>
        </div>

        <div>
            <h2>8. Termination</h2>
            <p>1. You can terminate this Agreement at any time by closing the Account.</p>
            <p>2. Defi Works can terminate this Agreement at any time without prior notice.</p>
            <p>3. Upon termination of this Agreement, the Client’s Funds will be returned to the Client.</p>
        </div>

        <div>
            <h2>9. Depositing and Withdrawing Funds</h2>
            <p>1. You can deposit and withdraw funds from the Account at any time.</p>
            <p>2. Defi Works reserves the right to introduce minimum and maximum deposit and withdrawal limits at any time without prior notice.</p>
        </div>

    </section>
{% endblock %}
