body {
  padding:0;
  margin:0;
  background: #130e1f;
  color:$textGrey;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

.content-wrapper {
  padding: .5rem 1.5rem;
}