.blockchain-intro {
    margin-top: 8rem;
    @media (min-width: $large) {
        margin-top: 8rem;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $large) {
            height: 100%;
        }
        &-content {
            @media (min-width: $large) {
                width: 75%;
                margin: 0 2.5rem;
            }
        }
    }
    p {
        font-weight:100;
        font-size: 1.3rem;
        line-height: 1.6;
        margin: 3rem 0;
        @media (min-width: $xl) {
            font-size: 1.6rem;
        }
    }
}