.defi-intro {
    @media (max-width: $xl) {
        background: linear-gradient(to right, black, $primary, black);
        padding: 1.5rem 0;
    }
    &-inner {
        @media (min-width: $large) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        &-content {
            @media (min-width: $large) {
                width: 75%;
                margin: 0 2.5rem;
            }
        }
    }
    p {
        font-weight:100;
        font-size: 1.3rem;
        line-height: 1.6;
        margin-bottom: 4rem;
        @media (min-width: $xl) {
            font-size: 1.6rem;
        }
    }
    img {
        margin-bottom: 2.5rem;
        width:60px;
        height: 60px;
        @media (min-width: $large) {
            width: 85px;
            height: 85px;
        }
    }
}