.defi-intro {
    padding: 1.5rem 0;
    margin: 3.5rem 0 1rem 0;
    @media (max-width: $xl) {
        background: linear-gradient(to right, black, $primary, black);
    }
    @media (min-width: $xxl) {
        padding: 0 0 4rem 0;
    }
    &-inner {
        @media (min-width: $large) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    p {
        font-weight:100;
        font-size: 1.3rem;
        line-height: 1.6;
        @media (min-width: $xl) {
            font-size: 1.6rem;
        }
    }
    img {
        margin-bottom: 2.5rem;
        width:60px;
        height: 60px;
        @media (min-width: $large) {
            width: 85px;
            height: 85px;
        }
    }
}