
header {
    margin-bottom: 3.5rem;
    position:fixed;
    width:100%;
    background-color: transparent;
    transition: all .3s cubic-bezier(.12,.541,.77,.71);
    z-index:99;
    @media (min-width: $large) {
        margin-bottom: 1rem;
    }
    .header-inner {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        @media (min-width: $medium) {
            padding: 1rem 2rem;
        }
        &-logo {
            display:flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                h1 {
                    margin: 0 1.75rem;
                    font-family: 'Share Tech Mono', monospace;
                    font-weight:200;
                    font-size:1.5rem;
                    @media (min-width: $medium) {
                        display:block!important;
                    }
                    @media (min-width: $large) {
                        font-size:1.75rem;
                    }
                }
            }
        }
        .desk-nav {
            @media (min-width: $medium) {
                display:unset !important;
            }
            ul {
                list-style: none;
                margin: 0;
                @media (min-width: $medium) {
                    display: flex!important;
                }
                li {
                    margin: 0 10px;
                    a {
                        text-decoration: none;
                        color: white;
                        font-weight:300;
                        font-size: .85rem;
                        &:hover {
                        color: $secondary;
                        }
                        @media (min-width: $medium) {
                            font-size: 1rem;
                            margin: 0 1rem;
                        }
                        @media (min-width: $xl) {
                            margin: 0 1.5rem;
                        }
                    }
                }
            }
        }
        .mobile-menu {
            a {
                text-decoration: none;
                color: white;
                font-weight:200;
                font-size: .85rem;
                &:active {
                    color: $secondary;
                }
            }
        }
        img {
            width: clamp(50px, 60px, 100px);
            height: clamp(50px, 60px, 100px);
        }
        .mobile-menu {
            position: absolute;
            top: 10vh;
            bottom: 0;
            right: 100%;
            opacity: 0;
            left: 0;
            background: $primary;
            z-index:10;
            overflow: hidden;
            transition: opacity .5s cubic-bezier(.12,.541,.77,.71), right .5s cubic-bezier(.08,.81,.87,.71);
            ul {
                padding: 1.5rem;
                position: relative;
                li {
                    padding:1.25rem 0;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                }
                a {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size:1.15rem;
                }
                #menu-arrow {
                    width:20px;
                    height:20px;
                    transform: rotate(-90deg);
                }
            }
            &.active {
                right: 0;
                opacity: 1;
                position: fixed;
            }
        }
        .alert {
            margin: 0;
            color: lightgreen;
            letter-spacing: .2rem;
        }
    }
}
