.integrations{
    margin-top:6rem;
    padding: 1.5rem 0;
    background: linear-gradient(to right, black, $primary, black);
    @media (min-width: $large) {
        margin-top:8rem;
        padding: 3.5rem 0;
    }
    @media (min-width: $xl) {
        margin-top:12rem;
    }
    &-inner {
        @media (min-width: $large) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .svg-group-wrapper {
            @media (min-width: $medium) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
            }
            div {
                @media (min-width: $xl) {
                    margin-right: 2rem;
                }
            }
            .llama-svg-wrap {
                display:flex;
                justify-content: center;
                align-items: center;
                padding: 0 .5rem;
                margin-bottom: 2.5rem;
                @media (min-width: $medium) {
                    margin-bottom: 0;
                }
                .llama-icon-text {
                    font-size: 1.35rem;
                    letter-spacing: .15rem;
                    color:#9d9d9d;
                }
                svg {
                    margin: 0 .4rem 0 0rem;
                }
            }
        }
        h2 {
            margin-bottom: 1.5rem;
            @media (min-width: $large) {
                margin-bottom: 2.5rem;
            }
        }
        svg {
            margin: 1rem;
            &:nth-of-type(2) {
                @media (min-width: $medium) {
                    margin: 1.75rem 4.5rem 1.5rem 0;
                }
            }
        }
    }
    p {
        margin: 1rem auto;
        font-weight: 200;
        font-size: 1.1rem;
        color: white;
    }
}