section.steps {
    margin: 6rem 0 8rem 0;
    @media (min-width: $large) {
        margin: 12rem 0 10rem 0;
    }
    h2 {
        margin-bottom:3.5rem;
        @media (min-width: $large) {
            margin-bottom: 5.5rem;
        }
    }
    .steps-inner {
        @media (max-width: 600px) {
            padding: 0 2rem 0 3.5rem;
        }
        @media (min-width: $large) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .step {
            margin-bottom: 3.5rem;
            @media (min-width: $medium) {
                display:flex;
                flex-direction: column;
                align-items: center;
            }
            @media (min-width: $large) {
                width: 22%;
            }
            img {
                max-width: 76px;
            }
            p {
                font-size: 1.25rem;
                font-weight: 100;
                text-align: center;
                margin: .75rem 0;
            }
        }
    }

}