{% extends 'base.html.twig' %}

{% block title %}You have logged out successfully{% endblock %}

{% block body %}
    <section class="logout-success-page">
        <h3>You have logged out successfully.</h3>
        <p>See you again soon.</p>
        <a class="btn" href="{{ path('app_login') }}">Log back in</a>
    </section>
{% endblock %}
