{% extends 'base.html.twig' %}

{% block title %}You have logged out successfully{% endblock %}

{% block body %}
    <div>
        <h3>You have logged out successfully, see you soon.</h3>
    </div>
{% endblock %}
