{% block blockchainIntro %}

    <section class="blockchain-intro">
        <div class="blockchain-intro-inner">
            <div id="particles-js"></div>
            <p>Connecting your assets with blockchain technology to unlock a more prosperous financial journey - deposit and watch your money grow.</p>
        </div>
    </section>

{% endblock %}
