{% block blockchainIntro %}

    <section class="blockchain-intro">
        <div class="blockchain-intro-inner">
            <div class="blockchain-intro-inner-content">
                <h2>Blockchain</h2>
                <p>Connecting your assets with blockchain technology to unlock a more prosperous and liberated financial journey.</p>
            </div>
            <div id="particles-js"></div>
        </div>
    </section>

{% endblock %}
