{% block defiIntro %}

    <section class="defi-intro">
        <div class="defi-intro-inner">
            <div id="intro" class="defi-intro-inner-content">
                <img src="/img/defi-works-logo.png" alt="Defiworks Logo">
                <p>Maximize your money's potential with DeFi Works – the ultimate asset management platform powered by decentralized finance.</p>
            </div>
        </div>
    </section>

{% endblock %}
