{% block defiIntro %}

    <section class="defi-intro">
        <div class="defi-intro-inner">
            <div class="defi-intro-inner-content">
                <h2>Intro</h2>
                <p>DeFi Works is your go-to web app for simplifying your journey with decentralised finance. Our platform helps you gain yield on your fiat currency with ease.</p>
            </div>
            <img src="/img/defi-works-logo.png" alt="Defiworks Logo">
        </div>
    </section>

{% endblock %}
