
{% block footer %}
<footer>
    <div class="header-inner">
        <nav>
            <ul>
                <li>defiworks.co.uk &copy;</li>
            </ul>
        </nav>
    </div>
</footer>
{% endblock %}