
{% block header %}
<header>
    <div class="header-inner">
        <div class="header-inner-logo">
            <a href="/">
                <img src="/img/defi-works-logo.png" alt="Defiworks Logo">
                <h1 style="display:none;">DeFi Works</h1>
            </a>
        </div>
        {# Mobile Nav #}
        <nav class="mobile-nav">
            <div id="menuToggle">
                <input type="checkbox" />
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
            </div>
            <div class="mobile-menu">
                <ul>
                {% if app.user is defined %}
                    {% if app.user %}
                    <li>
                        <a href="/dashboard">Dashboard
                            <svg id="menu-arrow" viewBox="0 0 256 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M225.813 0L128 97.813L30.187 0L0 30.186L128 158.186L256 30.186L225.813 0Z" fill="#5d66e6"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">Logout
                            <svg id="menu-arrow" viewBox="0 0 256 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M225.813 0L128 97.813L30.187 0L0 30.186L128 158.186L256 30.186L225.813 0Z" fill="#5d66e6"></path>
                            </svg>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Login 
                            <svg id="menu-arrow" viewBox="0 0 256 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M225.813 0L128 97.813L30.187 0L0 30.186L128 158.186L256 30.186L225.813 0Z" fill="#5d66e6"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/register">Register
                            <svg id="menu-arrow" viewBox="0 0 256 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M225.813 0L128 97.813L30.187 0L0 30.186L128 158.186L256 30.186L225.813 0Z" fill="#5d66e6"></path>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {# <li><a href="/contact">Contact</a></li> #}
                {% endif %}
                </ul>
            </div>
        </nav>
        {# =-=-=-=-=-= #}

        {# Desktop Nav #}
        <nav class="desk-nav" style="display:none;">
            <ul>
            {% if app.user is defined %}
                {% if app.user %}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
                {# <li><a href="/contact">Contact</a></li> #}
            {% endif %}
            </ul>
        </nav>
        {# -=-=-=-=-=- #}
    </div>
</header>
{% endblock %}
