
{% block header %}
<header>
    <div class="header-inner">
        <a href="/"><img src="/img/defi-works-logo.png" alt="Defiworks Logo"></a>
        <nav>
            <ul>
            {% if app.user is defined %}
                <li><a href="/">Home</a></li>
                {% if app.user %}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
                <li><a href="/contact">Contact</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>
</header>
{% endblock %}
