{% block steps %}

    <section class="steps">
        <h2>Growth Made Simple</h2>
        <div class="steps-inner">
            <div class="step">
                <img src="{{ 'img/step-1-icon.png' }}" alt="step 1 icon">
                <p>Sign up</p>
            </div>
            <div class="step">
                <img src="{{ 'img/step-2-icon.png' }}" alt="step 2 icon">
                <p>Deposit a minimum of £50</p>
            </div>
            <div class="step">
                <img src="{{ 'img/step-3-icon.png' }}" alt="step 3 icon">
                <p>Earn an APY as high as 9% and watch your account grow</p>
            </div>
            <div class="step">
                <img src="{{ 'img/step-4-icon.png' }}" alt="step 4 icon">
                <p>Withdraw anytime with no lock up periods</p>
            </div>
        </div>
    </section>

{% endblock %}
