{% block steps %}

    <section class="steps">
        <div class="steps-inner">
            <img src="{{ 'assets/images/step-1.png' | theme }}" alt="Step 1">
        </div>
    </section>

{% endblock %}
