{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Error{% endblock %}

{% block body %}

    <div class="error-wrapper">
        <p>Sorry there has been an error!</p>

    </div>
{% endblock %}
