{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Error{% endblock %}

{% block body %}
    <div class="error-wrapper">
        <h1>Oops!</h1>
        <p class="text-color">Sorry, it looks as though you have a pending transaction that is yet to be verified.</p>
        <p>Please allow up to 24 hours for this transaction to process before making anymore requests.</p>
    </div>
{% endblock %}
