{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Error{% endblock %}

{% block body %}
    <div class="error-wrapper">
        <p>Sorry, it looks as though you have a pending transaction that is yet to be verified.</p>
        <p>Please allow up to 24 hours for this transaction to process before making anymore requests.</p>
        <p>Thank you</p>
    </div>
{% endblock %}
