{% extends 'base.html.twig' %}

{% block title %}Hello TransactionHistoryController!{% endblock %}

{% block body %}

<section class="transaction-history">

    <div {{ react_component('TransactionHistory', { 'deposits': deposits, 'withdrawals': withdrawals }) }}></div>

</section>
{% endblock %}
