
//-=-=-=- Deposit page -=-=-=-//
#hidden-deposit-form {
  display: none;
}

//-=-=-=- Withdraw page -=-=-=-//
#hidden-withdraw-form {
  display: none;
}
a.disable-btn {
  pointer-events: none;
  cursor: default;
  color: #444444;
}