{% extends 'base.html.twig' %}

{% block title %}DeFi Works{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <p>Are you sure you want to close your DeFi Works account?</p>
    <p>If so, please ensure you have withdrawn all your funds before closing your account.</p>
    <a href="{{ path('app_close_user_account_confirm') }}">Close Account</a>
    <a href="{{ path('app_user_account') }}">Back</a>
{% endblock %}