{% extends 'base.html.twig' %}

{% block title %}DeFi Works{% endblock %}

{% block body %}
    <section class="close-account">
        <h1>Close your account</h1>
        <p>Are you sure you want to close your DeFi Works account?</p>
        <p>If so, please ensure you have withdrawn all your funds before closing your account.</p>
        <a class="d-block" href="{{ path('app_close_user_account_confirm') }}"><i class="fa fa-times" aria-hidden="true"></i>&nbsp Close account</a>
        <a class="back-btn" href="{{ path('app_user_account') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </section>
{% endblock %}