{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Account Management!{% endblock %}

{% block body %}

<section class="account-mng">

    <h1>Account Management</h1>

    <p>Please contact us at <a mailto="admin@defiworks.co.uk">admin@defiworks.co.uk</a> for any problems or enquiries.</p>

    <div class="user-options">
        <a class="dash-item" href="{{ path('app_update_details') }}">Update your details</a>
        <a href="{{ path('app_forgot_password_request') }}">Reset your password</a>
        <a href="{{ path('app_close_user_account') }}">Close my account</a>
        <a class="back-btn" href="{{ path('app_dashboard') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
    </div>

</section>
{% endblock %}
