{% extends 'base.html.twig' %}

{% block title %}Contact us - DeFi Works{% endblock %}

{% block body %}

<section class="contact-sent-wrapper">
    <h1>Thank You</h1>

    <p>Your message has been sent. We will get back to you as soon as possible.</p>

    <a class="return-arrow" href="{{ path('app_home') }}">Home        
        <svg id="return-arrow" width="512" height="512" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/>
    </a>


</section>
{% endblock %}
