//-=-=-=- Dashboard page -=-=-=-//

.dashboard-content-wrapper {
  text-align: center;
  .site-status-info {
    letter-spacing: 0.05rem;
    margin: 2rem 0 2.5rem 0;
    @media (min-width: $large) {
      margin: 5rem 0;
    }
    .site-status {
      font-weight: 300;
      font-size: .9rem;
      color: lightgreen;
      @media (min-width: $large) {
        font-size: 1rem;
      }
    }
    &-inner {
      width:75%;
      margin: 0 auto;
      border-bottom: 1px solid #383162;
      padding-bottom: .75rem;
      @media (min-width: $medium) {
        display:flex;
        align-items: baseline;
        justify-content: space-around;
      }
      p {
        font-weight: 200;
        font-size: .95rem;
        margin: .75rem 0;
        letter-spacing: 0.075rem;
        @media (min-width: $large) {
          font-size: 1rem;
          margin: .4rem 0 2.75rem 0;
        }
      }
    }
  }
  .account-status {
    margin: 2rem 0;
    h4 {
      font-weight:100;
      letter-spacing: 0.15rem;
      font-size: 1.1rem;
      margin-bottom:2.5rem;
      @media (min-width: $large) {
        font-size: 1.25rem;
      }
    }
    .dash-info {
      @media (min-width: $large) {
        display: flex;
      }
    }
  }
  .dash-item {
    width: 44%;
    display: inline-block;
    margin: .45rem 0;
    @media (min-width: $medium) {
      width: 25%;
    }
    p {
      font-weight: 400;
      text-transform: uppercase;
      margin: .2rem 0;
      font-size: .7rem;
      letter-spacing: .1rem;
      @media (min-width: $large) {
        font-size: .85rem;
      }
    }
    span {
      color: white;
      font-size: 1.15rem;
      color: $textLightBlue;
      @media (min-width: $large) {
        font-size: 1.25rem;
      }
    }
    lord-icon {
      display: block;
      margin: 0 1rem 0 0;
      width: 100px;
      height: 100px;
      @media (min-width: $large) {
        width: 70px;
        height: 70px;
      }
    }
    a {
      text-decoration: none;
      color: white;
      @media (min-width: $medium) {
        font-size: 1rem;
      }
      @media (min-width: $large) {
        display:flex;
        align-items: center;
      }
    }
  }
  .pending-balance {
    color: #98a128;
    font-style: italic;
  }
}

