//-=-=-=- Dashboard page -=-=-=-//

.dashboard-content-wrapper {
  text-align: center;
  .dash-info {
    @media (min-width: $large) {
      display: flex;
      margin-top:4rem;
    }
  }
  .dash-item {
    width: 44%;
    display: inline-block;
    margin: .45rem 0;
    @media (min-width: $medium) {
      width: 35%;
    }
    p {
      font-weight: 400;
      text-transform: uppercase;
      margin: .2rem 0;
      font-size: .75rem;
      letter-spacing: .1rem;
    }
    span {
      color: white;
      font-size: 1.15rem;
      color: $textLightBlue;
      @media (min-width: $large) {
        font-size: 1.25rem;
      }
    }
    lord-icon {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      @media (min-width: $large) {
        width: 80px;
        height: 80px;
      }
    }
    a {
      text-decoration: none;
      color: $textGrey;
      @media (min-width: $medium) {
        font-size: 1rem;
      }
    }
  }
  .pending-balance {
    color: #98a128;
    font-style: italic;
  }
}

