//-=-=-=- /deposit page -=-=-=-//
section.deposit-wrapper {
  padding: .5rem 0;
  @media (min-width: $large) {
    padding: 1rem 0;
  }
  form {
    input {
      width: 100%;
      display: block;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      box-shadow: none;
      // background-color: white !important;
      &[disabled] {
        background-color: #727272 !important;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
    button {
      text-transform: capitalize;
      span {
        color: white;
      }
    }
  }
  p:nth-of-type(1) {
    font-size:1.1rem;
    letter-spacing:0.05rem;
    color: $secondary;
    margin: 1rem 0;
  }
  p {
    font-size: 1.1rem;
  }
  span {
    font-style: italic;
    color: $tertiary;
  }
  .conv-results {
    padding:0 2rem;
  }
  .reset-btns {
    margin: 1.75rem 0 .75rem 0;
    @media (min-width: $medium) {
      margin: 1rem 0 .5rem 0;
      display:flex;
    }
    a, button {
      padding: .4rem;
      width:95%;
      margin-bottom: .5rem;
      @media (min-width: $medium) {
        max-width: 200px;
      }
    }
    a {
      background-color: $secondary;
      border:none;
      color:white;
      @media (min-width: $medium) {
        margin-top: .75rem;
        margin-right: 1rem;
      }
    }
    button {
      border-radius: 6px;
      background-color: rgb(143, 143, 143);
      padding-left: .75rem;
      padding-right: .75rem;
      border: none;
    }
  }
}