section.deposit-details {
    padding: 0 .25rem;
    max-width: 800px;
    margin: 0 auto;
    & > p {
        color: $tertiary;
        font-weight: 100;
        margin: 0 0 1.5rem 0;
        font-size: 1.2rem;
        @media (min-width: $large) {
            margin: 1.5rem 0 2.5rem 0;
        }
    }
    h4 {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 300;
        font-size: .8rem;
    }
    .bank-details {
        @media (min-width: $medium) {
            display: flex;
            margin: 3rem 0;
        }
        div {
            margin:2rem 0;
            @media (min-width: $medium) {
                margin-right: 3.5rem;
            }
            @media (min-width: $large) {
                margin:1rem rem 1rem 0;
            }
            #copy-btn {
                background: transparent;
                margin:0 .75rem;
                width:15%;
                max-width: 40px;
                outline: none;
                border: 1px solid $tertiary;
                border-radius: 5px;
                @media (min-width: $medium) {
                    width: 22.5%;
                }
                img {
                    width:20px;
                    height:20px;
                }
                &:active {
                    border: 1px solid $secondary;
                }
            }
        }
        p {
            font-size: 1.5rem;
            display: flex;
            // styles added for brave browser
            text-decoration: none !important;
            color: white !important;
        }
    }
    #usdConversion {
        p:nth-of-type(1) {
            color: $tertiary;
            font-weight: 100;
            margin: 1.25rem 0;
            font-size: 1.35rem;
            @media (min-width: $medium) {
                margin: 1.5rem 0 2rem 0;
                font-size:1.5rem;
            }
            span {
                font-weight: 400;
            }
        }
        p:nth-of-type(2) {
            font-size: 1.05rem;
            font-weight: 200;
            color: lightgreen;
            margin-bottom: .25rem;
        }
    }
    .dep-form-wrapper {
        @media (min-width: $medium) {
            margin-top: 1rem;
        }
        form {
            display:inline;
            button {
                @media (min-width: $medium) {
                    margin:0 1.5rem 0 0;
                }
            }
        }
        a {
            background-color: rgb(143, 143, 143);
            color:white;
            width: 100%;
            margin-top: .25rem;
            @media (min-width: $medium) {
                width: 100px;
                margin-top: 0;
            }
        }
    }

}