section.pin-page {
    max-width: 750px;
    margin: 0 auto;
    h1 {
        margin-bottom: 2.5rem;
    }
    .pin-form-wrap {
        @media (min-width: $medium) {
            display:flex;
        }
        #pin_verify_pin {
            @media (min-width: $medium) {
                // width: 50%;
            }
        }
        button {
            margin-top:1rem;
            @media (min-width: $medium) {
                margin-left: 1rem;
                margin-top:.75rem;
            }
        }
    }
}

