div.homepage-wrapper {
    text-align:center;
    .app-title {
        font-size:2.5rem;
        margin: 5.5rem 0 3.5rem 0;
        font-family: 'Share Tech Mono', monospace;
        @media (min-width: $large) {
            font-size:5.5rem;
        }
    }
    section.hero {
        height:100vh;
        p {
            font-size:1.1rem;
            font-family: 'Share Tech Mono', monospace;
            strong {
                font-size:1.4rem;
            }
        }
        p:nth-of-type(1) {
            font-weight: 100;
            // text-transform: uppercase;
            letter-spacing: 0.15rem;
            margin: 1rem 0 5rem 0;
            @media (min-width: $large) {
                font-size:1.2rem;
            }
        }
        button {
            background: none;
            border: 1px solid $secondary;
            margin-top: 1.25rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-style: italic;
                letter-spacing: 0.075rem;
                color:$textGrey;
                font-size: .9rem;
            }
        }
    }
    section.integrations {
        margin: 5rem 0 2rem 0;
    }
}