.logout-success-page {
    h1 {
        font-size:1.5rem;
    }
    a {
        text-decoration: none;
        background-color: $secondary;
        margin-left:.5rem;
        color:white;
        font-weight: 200;
    }
}