//-=-=-=- Register page -=-=-=-//
form[name="registration_form"] {
    fieldset {
    max-width: 700px;
        @media (min-width: $medium) {
            display:flex;
            flex-wrap: wrap;
        }
        input {
            background-color: rgb(238, 238, 238);
        }
        div:first-of-type,
        div:nth-of-type(11) {
            @media (min-width: $medium) {
            display: flex;
            align-items: center;
            width: 100%;
            }
        }
        div:nth-of-type(8) {
            @media (min-width: $medium) {
            margin-right:1rem;
            }
        }
        div {
            margin: .6rem 0;
            @media (min-width: $medium) {
            width: 47.5%;
            margin: .5rem;
            }
        }
        #registration_form_title,
        #registration_form_agreeTerms {
            margin-left:.75rem;
        }
    }
}
