//-=-=-=- Register page -=-=-=-//
form[name="registration_form"] {
    fieldset {
        @media (min-width: $medium) {
            display:flex;
            flex-wrap: wrap;
        }
        input {
            margin-top:.25rem;
            background-color: rgb(238, 238, 238);
        }
        div:nth-of-type(8) {
            @media (min-width: $medium) {
                margin-right: 4rem;
            }
        }
        div:first-of-type {
            margin-bottom: 1rem;
        }
        div:first-of-type,
        div:nth-of-type(13) {
            @media (min-width: $medium) {
            display: flex;
            align-items: center;
            width: 100%;
            }
        }
        div {
            margin: .6rem 0;
            @media (min-width: $medium) {
                width: 45%;
                margin: .75rem 1.8rem 0 0;
            }
        }
        p {
            color:$tertiary;
            @media (min-width: $medium) {
                border-top: rgb(82, 82, 82) 1px solid;
                padding-top: 2rem;
                width: 95%;
                margin:1.75rem 0 0 0;
            }
        }
        #registration_form_title,
        #registration_form_agreeTerms {
            margin-left:.75rem;
        }
        ul {
            list-style: none;
            font-weight: 100;
            color: red;
            padding:0;
        }
    }
}
