section.transaction-history {
  select {
    border-radius: 4px;
    padding: 0.2rem;
    font-weight:500;
  }
  p {
    color: $tertiary;
    font-weight: 200;
    letter-spacing: 0.05rem;
  }
  table {
    margin: 1.5rem 0;
    width:100%;
    @media (min-width:$medium) {
      width: 90%;
      margin: 2.5rem 0;
      font-size:1.1rem;
    }
    th {
      color:$tertiary;
      font-weight: 200;
    }
    td:nth-of-type(5) {
      padding-left:1.25rem;
    }
    tr {
      th:nth-of-type(1) {
        width:10%;
      }
      th {
        width:20%;
        text-align: left;
        padding-bottom: .5rem;
      }
    }
  }
}