section.transaction-history {
  select {
    border-radius: 4px;
    padding: 0.2rem;
    font-weight:500;
  }
  p {
    color: $tertiary;
    font-weight: 200;
    letter-spacing: 0.05rem;
  }
  table {
    margin: 1.5rem 0;
    @media (min-width:$medium) {
      width: 100%;
    }
    th {
      color:$tertiary;
      font-weight: 200;
    }
    td:nth-of-type(5) {
      padding-left:1.2rem;
    }
    tr {
      th:nth-of-type(1) {
        width:10%;
      }
      th:nth-of-type(4) {
        width: 30%;
      }
      th {
        width:20%;
        text-align: left;
        margin: 0 .25rem;
      }
    }
  }
}