section.withdraw-confirm {
    p:nth-of-type(1) {
        font-weight: 300;
        margin: 0 0 1.5rem 0;
        letter-spacing: .05rem;
    }
    p {
        margin: 1.5rem 0;
        strong {
            font-size: 1.1rem;
            font-weight: 500;
            color: $tertiary;
        }
    }
}