<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}De-Fi Works{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="DeFi Works is your go-to web app for simplifying your journey with decentralised finance. Our platform helps you gain yield on your fiat currency with ease.">
        <meta name="author" content="Ashley Campbell">
        {# Open Graph Meta Tags (for social media sharing) #}
        <meta property="og:title" content="De-Fi Works">
        <meta property="og:description" content="DeFi Works is your go-to web app for simplifying your journey with decentralised finance. Our platform helps you gain yield on your fiat currency with ease.">
        <meta property="og:image" content="https://defiworks.co.uk/img/defi-works-logo.png">
        <meta property="og:url" content="https://defiworks.co.uk">
        {# ------------------------------------------------ #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />        <link rel="icon" type="image/png" href="/img/defi-works-logo-fav.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
        {% include 'partials/header.html.twig' %}
        {# <svg style="position:absolute;top: -500px;right: -800px;"  #}
    <body>

        {% if app.request.uri == 'http://localhost:8000/' %}
            <div class="svg-bg svg-bg-left"></div>
            <div class="svg-bg svg-bg-right"></div>
        {% else %}
            <div class="svg-bg svg-bg-left"></div>
        {% endif %}

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% include 'partials/footer.html.twig' %}
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>
