{% extends 'base.html.twig' %}

{% block title %}Please Verify Your email - De-Fi Works{% endblock %}

{% block body %}
    <h1>Thank you for registering with DeFi Works.</h1>
    <p>We have sent you an email verification. </p>
    <p>Please verify your account via the link provided.</p>
{% endblock %}