{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdraw{% endblock %}

{% block body %}

<section class="withdraw-confirm">
    <h1>Confirm Withdrawal</h1>

    <p>You are about to withdraw <strong>£{{ gbpWithdrawAmount }}</strong> to the account with the sort code of <strong>{{ sortCode }}</strong> and the account number of <strong>{{ accountNo }}</strong>.</p>
    <p><strong>${{ usdWithdrawAmount|number_format(2) }}</strong> will be deducted from your DeFi Works account balance.</p>
    <p>Please ensure these details are correct as funds may be unrecoverable if sent to the wrong account.</p>

    <form method="post">
        <button class="btn" id="submit">Confirm Withdrawal</button>
    </form>
</section>

    <script>
       //disable button after click
       document.getElementById("submit").onclick = function() {
          //set timeout to allow form to submit
          setTimeout(function(){
             document.getElementById("submit").disabled = true;
          }, 100);
       };
    </script>

{% endblock %}
