{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdraw{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>Confirm Withdrawal</h3>

        <p>You are about to withdraw £{{ gbpWithdrawAmount }} to the account with the sort code of {{ sortCode }} and the account number of {{ accountNo }}.</p>
        <p>${{ usdWithdrawAmount }} will be deducted from your account balance.</p>

        <form method="post">
            <button id="submit">Confirm Withdrawal</button>
        </form>

    </div>

    <script>
       //disable button after click
       document.getElementById("submit").onclick = function() {
          //set timeout to allow form to submit
          setTimeout(function(){
             document.getElementById("submit").disabled = true;
          }, 100);
       };
    </script>

{% endblock %}
