{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdraw{% endblock %}

{% block body %}

<section class="withdrawal">
    <div {{ react_component('WithdrawInputs', { 'max': maxWithdraw }) }}></div>
    <a class="back-btn" href="{{ path('app_dashboard') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</section>


{% endblock %}
