{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdrawal Confirmed{% endblock %}

{% block body %}

    <section class="withdraw-success">

        <h1>Success!</h1>
        <p>Your withdrawal request has been successful.</p>
        <p>Please allow up to 24 hours for your withdrawal amount to be sent to you.</p>
        <p>Thank you for using DeFi Works.</p>

        <a class="back-btn" href="{{ path('app_dashboard') }}"><i style="color:#8272e7;" class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>

    </section>

{% endblock %}