{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Withdraw{% endblock %}

{% block body %}

<section class="withdraw-details">

    <h1>Withdraw Details</h1>

    <p>* The name registered to the bank account must match the name on your DeFi Works account.</p>
    <span>Please include hyphens when entering your sort code.</span>

    {{ form_start(WithdrawDetailsForm) }}
    {{ form_row(WithdrawDetailsForm.sort_code) }}
    {{ form_row(WithdrawDetailsForm.account_number) }}
    <button class="btn" type="submit">Continue</button>
    {{ form_end(WithdrawDetailsForm) }}

</section>

{% endblock %}
