{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Deposit Confirmation{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Thank you.</h1>

        {% for message in app.flashes('gbp_amount') %}
            <p>Your deposit of £{{ message }} will now need to be confirmed.</p>
        {% endfor %}
        <p>Once confirmed, you will receive an email with your deposit details. The deposit amount will also appear in your dashboard balance.</p>
        
        {# -----------------------------------------------------  #}
        <a href={{ path('app_dashboard') }}>Return to Dashboard</a>
        <a href={{ path('app_home') }}>Home</a>
    </div>


{% endblock %}

