{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Error{% endblock %}

{% block body %}
    <section class="lost-error">
        <img src="{{ asset('/img/lost.png') }}" alt="404" />
        <p>Oops! this page does not exist...</p>
    </section>
{% endblock %}
