{% extends 'base.html.twig' %}

{% block title %}DeFi Works - Error{% endblock %}

{% block body %}
    <div class="error-wrapper">
        <p>oops something went wrong.</p>
    </div>
{% endblock %}
